<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Resolución de Conflictos Laborales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/mostrarPalabrasClave.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="slider round"></div>
            </label>
            <em>Modo Oscuro</em>
        </div>
        <h1 class="titulo-con-imagen">Sistema de Resolución de Conflictos Laborales</h1>
        <img src="{{ url_for('static', filename='img/img-caso.jpg') }}" alt="Imagen del caso" class="imagen-caso">
        <form method="POST">
            <label for="descripcion">Descripción del conflicto:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required>{{ texto_usuario }}</textarea><br><br>
            <input type="hidden" name="descripcion_original" value="{{ texto_usuario }}">
            <p id="mensaje-error" {% if error %} style="color: red;" {% endif %}>
                {{ error if error else '' }}
            </p>
            <button type="submit">Obtener Resolución</button>
        </form>

        {% if respuestas %}
            <form method="POST" action="{{ url_for('generar_reporte') }}">
                <div id="resultados">
                    <h2>Resoluciones recomendadas:</h2>
                    <p>Descripción ingresada: <span id="descripcion_usuario">{{ texto_usuario }}</span></p>
                    {% for respuesta in respuestas %}
                        <div class="resultado-item">
                            <input type="checkbox" id="caso_{{ respuesta['index'] }}" name="casos_seleccionados" value="{{ respuesta['index'] }}">
                            <label for="caso_{{ respuesta['index'] }}">
                                <strong>Conflicto:</strong> {{ respuesta['descripcion'] }}<br>
                                <strong>Resolución:</strong> {{ respuesta['resolucion'] }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <input type="hidden" name="descripcion_original" value="{{ texto_usuario }}">
                <button type="submit">Generar Reporte de Casos Seleccionados</button>
            </form>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
